h2.blog-title 关于我

p 名字：Zorcs
p 年代：90后
p 生日：12-17
p 星座：射手座
p 职业：程序员
p 领域和语言：Titanium开发/Android开发/JAVA/C/C++/JS/Ruby
p 大学、专业：江西农业大学/软件工程/英语
p 职场经历：北京日盛林果Lingo软件科技有限公司/北京乐单软件科技有限公司/北京悦家互联网科技有限公司
p 闲暇：看书、写作、听歌(电音)、游戏(单机)、美剧(史诗/犯罪推理)、电影(科幻/动作)、霹雳布袋戏
p 运动：单车、散步
p 白日梦：作家、博学家
p 偶像：鲁迅
p 喜欢的名言：暂缺
p 格言：A planned tommorrow is worth 2 todays!
p 邮箱：991080931@qq.com/frankjorsn@gmail.com/frank012@163.com
p 空间：

h4 近期动态
p 暂缺

h4 更多链接
ul
  li
    a href="https://github.com/windy" target="_blank" Github
  li
    a href="http://www.douban.com/people/41759170/" target="_blank" Douban
  li
    a href="http://www.linkedin.com/pub/yafei-lee/77/3b/505" target="_blank" LinkedIn
